.home_wrapper4 {
    margin-left: 10px;
    margin-right: 10px;
    gap: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2,1fr);
    grid-template-areas: 
        "picc1 picc2 picc2"
        "picc3 picc3 picc4"
    ;
}

.homepic {
    height: 100%;
    width: 100%;
    margin-bottom: 5px;
}

.picc1 { grid-area: picc1; }
.picc2 { grid-area: picc2; }
.picc3 { grid-area: picc3; }
.picc4 { grid-area: picc4; }

@media (max-width: 630px) {
    .home_wrapper4 {
        display: block;
    }
}