
.footer_wrapper {
    margin-top: 30vh;
    margin-bottom: 40vh;
    text-align: center;
}

.footer__links > a {
    color: black;
    transition: .5s;
    font-family: 'Montserrat', sans-serif;
}

.footer__contact {
    font-family: 'Montserrat', sans-serif;
}

.footer__links > a:hover {
    color: rgb(121, 115, 115);
}
